$negrita: 800;
$light: 100;
$color-dark: black;
$color-gris-dark: rgb(12, 12, 12);
$color-gris: rgb(19,19,19);
$color-cian: rgb(3, 201, 201);
$color-white: white;

body {
    font-family: 'Didact Gothic', sans-serif;
    color: $color-cian;
    background-color: $color-dark;

    padding-top: 95px;

    text-align: center;

    h1, h2, h3 {
        
        font-weight:$negrita !important;
        text-transform: uppercase;

    }

    p {
        font-weight: $light;
        color: $color-white;
    }


}


header {

    /*Estilos del Nav*/
    .navbar {
        
        background-color: $color-gris-dark !important;
    
        a {
            font-weight: $negrita;

        }
        
        .logo {
                width: 80px;
                height: 80px;
                transition: 0.5s;
                &:hover {
                    filter:brightness(50%) ;
                }

            }

        .navbar-brand, .nav-link {
            color: $color-white !important;
            transition: 0.5s;
            &:hover {
                color: $color-cian !important;
            }

            
        }

        .nav-item {
            .activo {
                
                color: $color-cian !important;
                &:hover {
                    color: $color-white !important;
                }
            }
        }

        .btn-secondary {
            background-color: $color-gris;

            &:hover {
                background-color: $color-cian;
            }
        }

        
        .navbar-toggler {
            background-color: $color-gris;
            color: $color-white;
        
        }

    }

}

hero {

    /*Estilos del Carousel*/
    .carousel-inner {
        .carousel-item {
            .img-noticia {
            height: 535px;
            }

            .carousel-caption {
 
                background-color: rgba(12, 12, 12, 0.692);
                border-radius: 5px;
            }
        }
    }

}


main {
    
    /*Estilos globales para los elementos "card"*/
    .card {
        text-align: center;
        background-color: $color-dark;
        border: 1px solid $color-gris;
        transition: 0.5s;
        &:hover {
            border: 1px solid $color-cian;
        }
        
    }

    /*Estilos globales para los botones"*/
    .btn-info {
        background-color: $color-cian;
        transition: 0.5s;
        
        &:hover {
            filter:brightness(50%) ;

        }

        a{
            color:$color-dark;
            text-decoration: none;
        }
    }

    .btn-secondary {
        background-color: $color-gris;

        &:hover {
            background-color: $color-cian;
        }

        
    }

    .botones-paginacion {

        .page-item {
            .page-link {
            border-color: $color-gris;
            color: $color-white;
            background-color: $color-dark;
            transition: 0.5s;

                &:hover {
                    background-color: $color-gris;
                }


            }

            .activo {
            background-color: $color-cian;
            }
        }
        
    }




    /*Estilos de la sección "Bandas Destacadas"*/
    .card-banda {

        .card-img-top {
            height: 300px !important;
            transition: 0.5s;
            &:hover {
                filter:brightness(50%) ;
            }
        }

        
        
        @media (min-width: 576px) and (max-width: 767.98px){
            margin: auto auto;
            width: 70%;
            
        }

        @media (min-width: 768px) and (max-width: 991.98px){
            margin: auto auto;
            h3 {
                font-size: 90%;
            }

            .card-img-top{
                height: 200px !important;
            }
        }

    }

    /*Estilos de la sección "Noticias" del inicio*/
    .card-noti-inicio {

        .card-img {
            height: 220px;


            @media (min-width: 768px) and (max-width: 991.98px){
                margin: auto auto;
                height: 300px !important;
                            
            }

            @media (min-width: 576px) and (max-width: 767.98px){
                margin: auto auto;
                height: 250px !important;
                            
            }

        }

        .card-img-overlay {
            text-shadow: 2px 2px 1px $color-dark;
            text-align: left;
            transition: 0.5s; 
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }

            h3 {
                position: absolute;
                top:75%;
            }

            p {
                position: absolute;
                top:85%;
            }

            @media (min-width: 992px) and (max-width: 1199.98px) {
                h3 {
                    font-size: 85%;
                }

                p {
                    font-size: 85%;
                    top:90%
                }


            }

            @media (min-width: 1200px) {

                h3,p {
                    font-size: 85%;
                }

            }

        }

    }

    /* Estilos de la sección Spotify */
    .fondo-parallax {
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/parallax-background.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .zona-spotify {
            padding: 100px 0 100px 0;
        }

        .btn-spotify {
            background-color: rgb(30, 215, 96);
            border: 0;
            transition: 0.5s;
            &:hover {
                filter:brightness(80%) ;
            }

        }
    }

    /*Estilos de la sección biografía de la banda*/
    .biografia {

        text-align: center;
        .img-perfil-banda {
        border-radius: 50% !important;
        width: auto;
        height: 350px;
        }

        @media (max-width: 991.98px) {
            .img-perfil-banda {
                width: 350px;
                height: 350px;
                }
        }

        

        
        
    }

    /*Estilos de la sección discografia de la banda*/
    .discografia {
        

        .card-disco {
            a {color:$color-cian;
                text-decoration: none;
            }
            .card-img-top {
                height: 250px !important;

            }
            @media (max-width: 768px){
                width: 80%;
                margin: auto auto;

                .card-img-top {
                    height: 350px !important;
    
                }



            }
        }



    }


    /*Estilos de Noticias*/
    .noticias-principales {

        .card-img {
                
            height: 300px;

        }
        h3 {
            color: $color-cian;
        }
        p {
            color:$color-white;
        }
        
        .articulo-noticia {
            text-decoration: none;
            

            &:hover {
                
                .card-img {
                    transition: 0.5s;
                    border: 1px solid $color-cian;
                    filter:brightness(60%);
                }

                h3 {
                    filter:brightness(300%);
                }

            }

        }
        

        
        
    }

    .noticias-secundarias {

        .card-img {
                
            height: 200px;
        }
        h3 {
            color: $color-cian;
        }
        p {
            color:$color-white;
        }

        @media (min-width: 992px) {

            .card-img {
                
                height: 180px;
    
            }
            h3 {
                font-size: 80%;
                
            }
            p {
                font-size: 80%;
                
            }
            
        }

        
        .articulo-noticia {
            text-decoration: none;
            

            &:hover {
                
                .card-img {
                    transition: 0.5s;
                    border: 1px solid $color-cian;
                    filter:brightness(60%);
                }

                h3 {
                    filter:brightness(300%);
                }

            }

        }

        
        
    }

    /*Estilos de Galeria*/
    .galeria-imagenes {

        .card-img {
            
            margin: 16px;
            

            &:hover {
                transition: 0.5s;
                border: 1px solid $color-cian;
                filter:brightness(60%);
            }

            @media (max-width: 992px) {
            height: auto;
            }
            
        }

        .galeria-primera-fila {

            .card-img{
                height: 250px;
            }
        }
        
        .galeria-segunda-fila {
            .card-img{
                height: 500px;
            }
        }

        .galeria-tercera-fila {
            .card-img{
                height: 300px;
            }
        }

    }

    
    /*Estilos de Contacto*/

    .contacto {

      
        .img-logo-contacto {
        width: auto;
        height: 350px;
        }

        @media (max-width: 991.98px) {
            .img-logo-contacto {
                width: 350px;
                height: 350px;
                }
        }


        .form-contacto {
            text-align: start;

            .form-control {
                &:focus {
                    box-shadow: 0 0 0 0.25rem $color-cian;
                }
            }

            label {
                margin: 8px 0 8px 0;

            }

            textarea {
                resize: none;
            }

        }

        
        
    }

}



/*Estilos del Footer*/
.footer {

    .footer-menu {
        background-color: $color-gris;
        h3 {
            text-transform: uppercase;
        }

        p a, .social-media-icon {
            color: $color-white;
            text-decoration: none;
            transition: 0.5s;

            &:hover {
                color: $color-cian;
            }
        }
    }
    
    .footer-legal {
        background-color: $color-gris-dark;
        color: rgba(255, 255, 255, 0.377);
        a {
            color: $color-cian;
            text-decoration: none;
            transition: 0.5s;
        }
      
    }
    

    
    
}

